body {
    --kit-body-text: #172b4d;
    --kit-header-text: #5e6c84;
    --kit-page-bg-color: #ffffff;
    --kit-dialog-bg-color: var(--kit-page-bg-color);

    --kit-table-row-hover-color: #f4f5f7;
    --kit-table-header-text: var(--kit-header-text);

    --kit-form-danger: #de350b;
    --kit-form-warning: #FF991F;

    --kit-progress-top-color: #0052CC;

}

body.kit-dark {
    /*--kit-body-text: #B6C2CF;*/
    --kit-body-text: #9FADBC;
    --kit-header-text: var(--kit-body-text);
    --kit-page-bg-color: #1d2125;

    --kit-table-row-hover-color: #A1BDD914;
    --kit-table-header-text: var(--kit-header-text);

    --kit-dialog-bg-color: #282E33;

    --kit-form-danger: #f15b50;
    --kit-form-warning: #F5CD47;

    --kit-progress-top-color: #579DFF;
}
